.example-container {
  width: 300px;
  height: 340px;
  position: absolute;
  top: calc(50% - 170px);
  left: calc(50% - 150px);
}

.text-container {
  position: relative;
}

text-display {
  width: 200px;
  display: block;
}

.background-white {
  background-color: white;
}

.background-green {
  background-color: #0f0;
}
